<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 lt-ie8 lt-ie9"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


<head>
    <meta charset="utf-8">
    <title>ATU</title>
    <meta name="description" content="ATU">
    <link rel="stylesheet" href="/adverts/css/main.css">
    <link rel="stylesheet" href="/adverts/css/uniform.default.css">
    <link rel="stylesheet" href="/adverts/css/prettyPhoto.css">
    <script src="/adverts/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/adverts/js/vendor/jquery-1.8.2.min.js"></script>
    <script src="/adverts/js/vendor/selectivizr.js"></script>
    <script src="/adverts/js/vendor/PIE.js"></script>
    <script src="/adverts/js/plugins/jquery.placeholder.min.js"></script>
    <script src="/adverts/js/plugins/jquery.uniform.min.js"></script>
    <script src="/adverts/js/plugins/jquery.flexslider-min.js"></script>
    <script src="/adverts/js/plugins/jquery.carouFredSel-6.1.0-packed.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="/adverts/js/plugins/jquery.prettyPhoto.js"></script>
    <script src="/adverts/js/plugins/jquery.countdown.js"></script>

    <script src="/adverts/js/plugins.js"></script>
    <script src="/adverts/js/main.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<header>
  
    <div class="content-holder">
        <div class="layer-one">
            <div class="page-titles">
                <h1><a href="/">ATU</a></h1>
            </div>
            <div class="header-buttons">
                <a href="/stores" class="add-an-offer rounded-link-box"><span class="box-content">Mağazalar</span></a>
                <a href="/posts" class="add-an-offer rounded-link-box"><span class="box-content">İlanlar</span></a>
                <a href="/login" class="add-an-offer rounded-link-box"><span class="box-content"><strong class="plus-sign">Üye Girişi</strong></span></a>
            </div>
        </div>
    </div>
</header>
<div id="page-content">
    <section id="car-pagination">
        <div class="content-holder">
            <div class="page-main-heading extra-space">
                <div class="heading-location">
                    <h2><span class="bold"><%= post.model %> </span></h2>
                    <p class="page-location">
                        <a href="/">Home </a>
                        <span class="greater-than">&gt;&gt;</span>
                        <a href="/posts">posts</a>
                        <span class="greater-than">&gt;&gt;</span>
                        <a href="#"><%= post.model %></a>
                    </p>
                </div>

                <div class="extra-info">
                    <span>Ürün Id C24021482</span>
                </div>
            </div>

            <nav class="default-tabs split-tabs">
                <ul id="vehicle-toggle">
                    <li id="vehicle-description" class="current-item"><a href="#"><span>İlan Detayı</span></a></li>
                    <li id="vehicle-location"><a href="#"><span>Konum</span></a></li>
                </ul>

                <ul>
                    <li class="click-to-share"><a href="#"><span>Paylaş</span></a></li>
                </ul>
            </nav>


        </div>
    </section><!--#car-pagination -->

    <section id="car-details">

        <div class="social-icons-round" style="padding: 10px;">
            <p>Share to:</p>
            <p>Share to:</p>
            <h1>dsfdf</h1>
        </div>
        <div class="content-holder">
            <div class="full-width google-maps dealer-maps vehicle-location">
                <div id="map-canvas" style="width: 978px; height: 380px;"></div>
            </div>

            <div class="full-width vehicle-description">

                <div class="car-full-image one-half col-480">
                    <div class="main-image">
                        <a href="#">
                            <img src="<%= post.images[0].url %>" alt="Full Picture" />
                            <span class="magnifying-glass">Magnifying Glass</span>
                        </a>
                    </div>
                    <ul class="images-navigation">
                        <% post.images.forEach( img => { %>
                           <li><a href="<%= img.url %>"><img src="<%= img.url %>" alt="Thumb Car" /></a></li>
                        <% }) %> 
                    </ul>
                    <div id="preloader"></div>
                </div>

                <div class="car-full-specs one-half col-460">
                    <div class="price-car">
                        <span class="price-tag"><%= post.carState %></span>
                    </div>
                    <ul class="car-specs-list">
                        <li>
                            <span class="label">Model</span>
                            <span class="value"><%= post.model %></span>
                        </li>
                        <li>
                            <span class="label">Yıl:</span>
                            <span class="value"><%= post.carYear %></span>
                        </li>
                        <li>
                            <span class="label">Yakıt Türü:</span>
                            <span class="value"><%= post.fuelType %></span>
                        </li>
                        <li>
                            <span class="label">Motor:</span>
                            <span class="value"><%= post.motor %></span>
                        </li>
                        <li>
                            <span class="label">Vites:</span>
                            <span class="value"><%= post.gear %></span>
                        </li>
                    </ul>

                    <div class="sell-similar-car">
                        <span class="label">Teklif vermek ister misiniz?</span>
                        <a href="/addoffer/<%= post._id %> " class="value"> Teklif Ver</a>
                     
                    </div>
                </div>
            </div>

            <div class="full-width grey-border-bottom">
                <div class="one-half standard-text-content">

                    <h3><span class="bold">İlan Hakkında</span></h3>
                    <ul>
                        <li><strong>Araç Bilgisi: </strong> <%= post.model %>  </li>
                        <li><strong>Hasarlı Kısımlar: </strong>service book</li>
                        <li><strong>İstenilenler: </strong>ABS, traction control, alarm, airbags, immobilizer, anti-theft, ESP, EDS, protection framework</li>
                        <li><strong>Hasar Hakkında: </strong> <%= post.message %>  </li>
                    </ul>

                </div>

            </div>

            <div class="full-width standard-text-content">
                <h3><span class="bold">Similar</span> offers</h3>

                <ul class="offer-small list-content">
                    <li>
                        <a href="car-details.html">
                            <img src="/adverts/images/mercedes-thumb.jpg" alt="offer car" />
                            <div class="entry-label">
                                <h4>Mercedes-Benz CLS</h4>
                                <span class="price-tag">54980 Euro</span>
                            </div>
                            <div class="entry-overlay">
                                <ul class="car-list-details">
                                    <li>Registration 2002</li>
                                    <li>3.0 Diesel</li>
                                    <li>230 HP</li>
                                    <li>Body Coupe</li>
                                    <li>120.000 KM</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="car-details.html">
                            <img src="/adverts/images/mercedes-thumb.jpg" alt="offer car" />
                            <div class="entry-label">
                                <h4>Mercedes-Benz CLS</h4>
                                <span class="price-tag">54980 Euro</span>
                            </div>
                            <div class="entry-overlay">
                                <ul class="car-list-details">
                                    <li>Registration 2002</li>
                                    <li>3.0 Diesel</li>
                                    <li>230 HP</li>
                                    <li>Body Coupe</li>
                                    <li>120.000 KM</li>
                                </ul>
                            </div>
                            <span class="v-sign">V</span>
                            <span class='dealer-data'>Vehicle Dealer</span>
                        </a>
                    </li>
                    <li>
                        <a href="car-details.html">
                            <img src="/adverts/images/mercedes-thumb.jpg" alt="offer car" />
                            <div class="entry-label">
                                <h4>Mercedes-Benz CLS</h4>
                                <span class="price-tag">54980 Euro</span>
                            </div>
                            <div class="entry-overlay">
                                <ul class="car-list-details">
                                    <li>Registration 2002</li>
                                    <li>3.0 Diesel</li>
                                    <li>230 HP</li>
                                    <li>Body Coupe</li>
                                    <li>120.000 KM</li>
                                </ul>
                            </div>
                            <span class="v-sign">V</span>
                            <span class='dealer-data'>Vehicle Dealer</span>
                        </a>
                    </li>
                    <li>
                        <a href="car-details.html">
                            <img src="/adverts/images/mercedes-thumb.jpg" alt="offer car" />
                            <div class="entry-label">
                                <h4>Mercedes-Benz CLS</h4>
                                <span class="price-tag">54980 Euro</span>
                            </div>
                            <div class="entry-overlay">
                                <ul class="car-list-details">
                                    <li>Registration 2002</li>
                                    <li>3.0 Diesel</li>
                                    <li>230 HP</li>
                                    <li>Body Coupe</li>
                                    <li>120.000 KM</li>
                                </ul>
                            </div>
                            <span class="v-sign">V</span>
                            <span class='dealer-data'>Vehicle Dealer</span>
                        </a>
                    </li>

                </ul>
            </div>


        </div><!--.content-holder-->
    </section><!--#search-list-->

</div><!--#page-content-->

<footer>
    <div class="layer-one">
        <div class="content-holder">
            <nav>
                <ul>
                    <li><a href="#"><span class="bold">Hakkımızda</span></a>
                        <ul>
                            <li><a href="#">İletişim</a></li>
                            <li><a href="#">Our Partners</a></li>
                            <li><a href="#">Advertising Online</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="bold">Destek</span></a>
                        <ul>
                            <li><a href="#">How do I add an offer?</a></li>
                            <li><a href="#">How do I find a vehicle</a></li>
                            <li><a href="#">Price list</a></li>
                            <li><a href="#">Office for car dealers</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="bold">User</span> area</a>
                        <ul>
                            <li><a href="#">Add an offer</a></li>
                            <li><a href="#">Register dealder</a></li>
                            <li><a href="#">Login Dealer</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="find-us-here col-amount">
                <h3><span class="bold">Sosyal Ağlar</span> </h3>
                <ul class="social-list">
                    <li class="social-facebook"><a href="#">Facebook</a></li>
                    <li class="social-twitter"><a href="#">Twitter</a></li>
                    <li class="social-google"><a href="#">Google</a></li>
                </ul>
                <p class="note">Sosoyal medyalardan bizleri takip edebilirsiniz.</p>
            </div>
        </div>
    </div><!--.layer-one-->
</footer>

</body>


</html>
