<html>
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/stores.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/sources/bootstrap.css">
    <title>Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>
<body>
<div class="container">
    <%- include ('../partails/navbar') -%>

    <div class="row">
        <div class="col-sm-4 ">
            <select class="form-select" name="store" id="store">
                <option value="Bakım">Araç Bakım</option>
                <option value="Motor">Motor Tamir</option>
                <option value="Parça">Araç Parça</option>
                <option value="Modifiye">Araç Modifiye</option>
                <option value="Kaporta">Kaporta Tamir</option>
            </select>

        </div>
        <div class="col-sm-8 d-flex justify-content-end">
            <button class="kare"><i class="fas fa-th-large"></i></button>
            <button class="filter"><i class="fas fa-filter"></i></button>
            <select class="form-select" name="arac" id="arac">
                <option class="secenek" value="Yeni">Yeni Mağazalar</option>
                <option class="secenek" value="yüksek">Yüksek Puanlılar</option>
                <option class="secenek" value="a'z">A'dan Z'ye</option>
                <option class="secenek" value="z'a">Z'den A'ya</option>
                <option class="secenek " value="favori">Favori Mağazam</option>
            </select>

        </div>
        <h1 class="d-flex justify-content-center  ">Mağazalar</h1>
    </div>

    <% stores.forEach( store => { %>
        <div class="card m-5">
            <div class="row g-2">
                    <div class="col-md-4">
                        <img class="card-img-top"
                            src="<%= store.image.url ? store.image.url : '/assets/images/image/nostore.jpg'%>"
                            alt="...">
                    </div>
                    
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="kategori">
                                <h5> <%= store.storeName %>  </h5>
                                <div class="icon d-flex justify-content-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <p>(24)</p>
                                </div>
                            </div>
                            <p class="card-text">Yedek parça ve aksesuar marketidir. Aradığınız tüm aksesuar ürünleri. Oto yedek parça
                                ve aksesuar stoğu ile, Türkiye'nin en iyi oto marketidir.</p>
                            <p class="card-text"><b>Adres:</b> <%= store.address %></p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <button class="btn ekle">
                                        <a style="color: #fff; text-decoration: none;" href="/store/<%= store._id %> "> <i class="fas fa-store"></i> Mağazaya Git </a>             
                                    </button>
                                    <i class="fas fa-random fa-lg"></i>
                                    <i class="fas fa-search-plus fa-lg"></i>
                                    <a href="/favourite/store/<%= store._id %>"> <i id="favori" class="far fa-heart fa-lg " title="Favorilere Ekle"></i> </a>
                                    
                                    
                                </small>
                            </p>
                        </div>
                    </div>
                
            </div>
        </div>
    <% }) %> 

   
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">Önceki</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">2</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item">
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Sonraki</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

<%- include ('../partails/footer') -%>